<form method="post" enctype="multipart/form-data">
    <div class="row justify-content-center">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-4">
            <input type="hidden" value="{{ event.id }}" name="id">
            Nom de l'événement: <input type="text" value="{{ event.title }}" name="title">
        </div>
        <div class="col-4 mt-2">
           Date de l'événement: <input type="date" value="{{ event.event_date }}" name="event_date">
        </div>
        <div class="col-12 mt-2">
            <img src="../../{{ event.picture }}" alt="affiche evenement"><br/>
            <input type="file" name="picture" value="Changer l'image">
        </div>
        <div class="col-12 mt-2">
            <textarea name="description" rows="5" cols="150">{{ event.description }}</textarea>
            <input type="submit" value="Valider">
        </div>
    </div>
</form>
