{% extends 'userlayout.html.twig' %}
{% block content %}
    <section class="ftco-section">
        <div class="container justify-content-center text-center">
            <h3 class="title3 mb-4">Image aleatoire</h3>
            <div class="card mx-auto text-center card-gallery-random">
                <img src="/assets/images/gallery/{{ randomPicture.img }}" class="card-img-top"
                     alt="image de l'evenement {{ randomPicture.event }} en {{ randomPicture.year }}">
                <div class="card-body">
                    <h5 class="card-title">{{ randomPicture.year }}</h5>
                    <p class="card-text">{{ randomPicture.event }}</p>
                </div>
            </div>
            <div class="row justify-content-around mt-5">
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/assets/images/gallery/{{ pictures2017.12.img }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2017</h5>
                            <p class="card-text">Visionnez la galerie photo 2018</p>
                            <form method="get" action="/Gallery/showByYear/">
                            <input hidden name="year" value="{{ years.0.year }}">
                            <button type="submit"  class="btn btn-outline-danger">Primary</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/assets/images/gallery/{{ pictures2018.4.img }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2018</h5>
                            <p class="card-text">Visionnez la galerie photo 2018</p>
                            <form method="get" action="/Gallery/showByYear/">
                                <input hidden name="year" value="{{ years.1.year }}">
                                <button type="submit"  class="btn btn-outline-danger">Voir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a href="showByYear" class="btn btn-danger btn-archive p-3 mt-5">Archives</a>
        </div>
    </section>

{% endblock %}